/* =========================
   REGISTER
========================= */

.register-container {
    max-width: 500px;
    margin-top: 3rem;
}

.register-title {
    margin-bottom: 1.5rem;
}

.register-form {
    width: 100%;
}

.register-field {
    margin-bottom: 1rem;
}